<div class="row">
  <h1>Editing Page</h1>

  <%= render 'form', page: @page %>

  <div class="medium-4 columns">
    <%= link_to 'Show', @page, class: "button" %>
  </div>
  <div class="medium-4 columns">
    <%= link_to 'Back', pages_path, class: "button" %>
  </div>
</div>
